.card{
    background: #90cfeb;
    gap: px;
    

}

.form-label{
    color: rgb(255, 21, 0);
}

.card-title{
 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(14, 66, 236);
background: linear-gradient(rgb(47, 244, 234), rgb(34, 140, 227));
border-radius: 10px;



}

.card1{
    color: rgb(14, 13, 13);
    background: linear-gradient(rgb(47, 244, 214), rgb(34, 140, 227));
    border-radius: 9px;
  display: flex;
  align-items:center;
  justify-content:space-around;
 
 
  
}

